{% extends "base.html" %}

{% block title %}Details of dish{% endblock %}

{% block content %}
    <h1>{{ dish.name }}</h1>
    <p>Price: {{ dish.price }} rubls</p>
    <p>Restaurant name: {{ restaurant.name }}</p>
    <p>Address: {{ restaurant.address }}</p>
    <p>Description: {{ restaurant.description }}</p>

    {% if dish.image %}
        <img src="{{ dish.image.url }}" style="max-width: 300px; height: auto;">
    {% else %}
        <p>The image is not available.</p>
    {% endif %}

    <p>Description: {{dish.description}}</p>
        
    <a href="{% url 'comment_create' dish.pk %}" class="btn btn-outline-primary">Write comment</a>
    {% if request.user.profile.role == 'restaurant' %}
        <a href="{% url 'dish_update' dish.pk %}" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'dish_delete' dish.pk %}" class="btn btn-outline-primary">Delete</a>
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-outline-primary">Back to menu</a>

    {% if user_has_liked %}
        <form action="{% url 'unlike_dish' pk=dish.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Unlike</button>
        </form>
    {% else %}
        <form action="{% url 'like_dish' pk=dish.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Like</button>
        </form>
    {% endif %}


    <p>Likes: {{ dish.likes.count }}</p>

    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author.username }}:</strong> {{ comment.text }}
                <br>
                <small>Posted on {{ comment.written_at }}</small>
                {% if request.user == comment.author %}
                    <div>
                        <a href="{% url 'comment_update' comment.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>

{% endblock %}