{% extends "base.html" %}

{% block title %}Details of dish{% endblock %}

{% block content %}
<h1>{{ dish.name }}</h1>
<p>Price: {{ dish.price }} rubls</p>

{% if dish.image %}
    <img src="{{ dish.image.url }}" style="max-width: 300px; height: auto;">
{% else %}
    <p>The image is not available.</p>
{% endif %}

<p>Description: {{dish.description}}</p>
    

<a href="{% url 'dish_update' dish.pk %}">Edit</a>
<a href="{% url 'dish_delete' dish.pk %}">Delete</a>
<a href="{% url 'home' %}">Back to menu</a>
{% endblock %}