{% extends 'base.html' %}

{% block title %}Dishes{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center gap-3 my-3">
        <a href="{% url 'register' %}" class="btn btn-primary">Create an Account</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
    </div>

    <h1>Dishes</h1>

    {% for dish in dishes %}
    <div class="dish-card">
        <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
        <h3>{{ dish.name }}</h3>
        <p>Price: {{ dish.price }}</p>
        <p>{{ dish.description }}</p>
    </div>
    {% empty %}
        <li>No dishes</li>
    {% endfor %}
{% endblock %}
