<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <style>
        .dish-card {
            border: 2px solid #007bff;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
            max-width: 400px;
        }
        .dish-card img{
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript %}
</body>
</html>
